.cover {
    width: 100vw;
    min-height: calc(145vh);
    background: #7f40a1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-130deg, #FFEDBC, #7f40a1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-130deg, #FFEDBC, #7f40a1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*DASHBOARD*/

#progress-bar {
    width: 300px;
    background: #cccccc;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#progress-bar-percentage {
    background: linear-gradient(-130deg, #FFEDBC, #7f40a1);
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

.modal {
    width: 300px;
    height: 160px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding: 2rem;
    border-radius: 15px;
    position: absolute;
    top: 65px;
}

.modal h1 {
    width: 100%;
    color: #444;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin-bottom: 0rem;
    margin-top: 20rem;
    font-size: 3rem;
    text-align: center;
}

.modal h2 {
    width: 100%;
    color: #444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin-top: 0rem;
    font-size: 2.5rem;
    text-align: center;
}

.modal .sub {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: #777;
    font-weight: 100;
    font-size: 0.9rem;
    text-align: center;
}

.modal .sub2 {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: #777;
    font-weight: 100;
    font-size: 0.9rem;
    text-align: left;
}

.modal .sub3 {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: rgb(48, 30, 78);
    font-weight: 100;
    font-size: 0.7rem;
    text-align: right;
}

.modal .actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.7rem;
}
button {
    margin-left: 1rem;
    outline: none;
    color: #251031;
    font-size: 0.85rem;
    font-family: 'Nunito', sans-serif;
    padding: 0rem 0rem;
    cursor: pointer;
    text-align: left;
}
button:hover {
    background: #7f40a1;
    color: white;
}

/*CHARITY IMPACT*/

.modal3 {
    width: 300px;
    height: 225px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding: 2rem;
    border-radius: 15px;
    position: absolute;
    top: 310px;
}

.modal3 h1 {
    width: 100%;
    color: #444;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin-bottom: 20rem;
    margin-top:-25px;
    font-size: 0.9rem;
    text-align: center;
    padding:15rem;
}

.modal3 h2 {
    width: 100%;
    color: #444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin-top: 0rem;
    font-size: 2.5rem;
    text-align: center;
}

.modal3 .sub {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: #777;
    font-weight: 100;
    font-size: 0.9rem;
    text-align: center;
}

/*TODAY'S GIVRS*/

.modal2 {
    width: 300px;
    height: 310px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding: 2rem;
    border-radius: 15px;
    position: absolute;
    top: 620px;
}

.modal2 h1 {
    width: 100%;
    color: #444;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-size: 1.7rem;
    text-align: center;
}

.modal2 .sub {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: #777;
    font-weight: 100;
    font-size: 0.9rem;
    text-align: center;
}

.modal2 .sub2 {
    outline: none;
    background: white;
    border: 1px solid #251031;
    color: #251031;
    border-radius: 15px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    padding: 0.2rem 1rem;
    font-weight: 200;
    font-size: 0.7rem;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-scroll{
    flex-wrap:nowrap;
    overflow-x:scroll; 
    display:flex;
}

.my-container{
    position:relative;
    width:95%;
    padding:5px 5px;
}

.charity-updates {
    margin-right:12px;
    flex:0 0 auto;
    border: 3px solid white;
    color: white;
    padding: 0.2rem 1rem;
}

/* FOOTER*/
.footer-wrap {
    background-color:white;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
}
#my-footer {
    display:flex;
    justify-content:space-between;
    text-align:center !important;
    font-family: 'Nunito Sans', sans-serif;
    background-color:white;
    background:-webkit-linear-gradient(-130deg, #FFEDBC, #7f40a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}

.my-nav {
    padding:0px;
    font-size:14px;
    text-transform: lowercase;
    margin:15px;
    text-align:center !important;

}
a {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a:hover { 
    text-decoration:none!important;
    background-color:transparent;
}

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

