*{
    margin:0px;
    box-sizing:border-box;
}
#header h1 {
    color: pink;
    font-size:18px;
    text-transform:uppercase;
    text-align:center;
}

#header{
    position:fixed;
    background-color: white;
    border-bottom:1px solid #e6e6e6; 
    width:100%;
    padding:5px;
    height:30px;
    left:0px;
    z-index:100;
}



.card{
    width:120px !important;
    font-size:10px;
}

.card-body {
    padding:5px !important;
}

.subtitle {
    color:black;
    font-size:12px;
    margin-bottom:10px;
}

/*SEE WHAT YOUR CHARITIES HAVE DONE IWTH YOUR $26 RECENTLY */
.my-container{
    position:relative;
    width:100%;
    background-color:orange;
    padding:10px;
}


.horizontal-scroll{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    
}

.charity-updates {
    margin-right:15px;
    flex:0 0 auto;
}
/* total donated */
.totaldonated {
    background-color:#7fd4ba;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height:200px;
}
.totaldonated-body{
    color:white;
    text-align:center;
}

/*SEE WHAT YOUR CHARITIES HAVE DONE IWTH YOUR $26 RECENTLY */
#dashboard {
    position:relative;
    display:flex;
    background-color:#ebebeb;
    height:200px;
    padding:10px;
}


.rounded-container {
    border-radius:15px;
    background-color:white;
    
}

/* top charities */

.charity-progress-wrap{
    padding:10px;
    display:flex;
    align-items:center;
}

.charity-progress-name{
    width:80px;
    display:inline-block;
    font-size:12px;
}
.charity-progress-summary{
    width:calc(100% - 90px);
    display:inline-block;
}