*{
    margin:0px;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing:border-box;
}

#header img {
    width:80px;
}

#header{
    position:fixed;
    background-color: white;
    border-bottom:1px solid #e6e6e6; 
    width:100%;
    padding:5px;
    height:30px;
    opacity:0.8;
    left:0px;
    z-index:100;
}

/* FOOTER*/
.footer-wrap {
    background-color:white;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
}
#my-footer {
    display:flex;
    justify-content:space-between;
    text-align:center !important;
    font-family: 'Nunito Sans', sans-serif;
    background-color:white;
    background:-webkit-linear-gradient(-130deg, #FFEDBC, #7f40a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}

.my-nav {
    padding:0px;
    font-size:14px;
    text-transform: lowercase;
    margin:15px;
    text-align:center !important;

}

.my-nav p{
    padding-top:0px !important;
}
a {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a:hover { 
    text-decoration:none!important;
    background-color:transparent;
}

  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
/* navigation hover effect and style */ 

.card{
    width:120px !important;
    font-size:10px;
}

.card-body {
    padding:5px !important;
}

.subtitle {
    color:black;
    font-size:12px;
    margin-bottom:10px;
}

/*SEE WHAT YOUR CHARITIES HAVE DONE IWTH YOUR $26 RECENTLY */
.my-container{
    position:relative;
    width:100%;
    padding:10px 30px;
}


.horizontal-scroll{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    
}

.charity-updates {
    margin-right:15px;
    flex:0 0 auto;
}
/* total donated */
.totaldonated {
    background-color:#7fd4ba;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height:200px;
}
.totaldonated-body{
    color:white;
    text-align:center;
}

/*SEE WHAT YOUR CHARITIES HAVE DONE IWTH YOUR $26 RECENTLY */
#dashboard {
    position:relative;
    display:flex;
    background-color:#ebebeb;
    height:200px;
    padding:10px;
}


.rounded-container {
    border-radius:15px;
    background-color:white;
    
}

/* top charities */

.charity-progress-wrap{
    padding:10px;
    display:flex;
    align-items:center;
}

.charity-progress-name{
    width:80px;
    display:inline-block;
    font-size:12px;
}
.charity-progress-summary{
    width:calc(100% - 90px);
    display:inline-block;
}

#progress-bar {
    width: 365px;
    background: #cccccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-align:center;
}

#progress-bar-percentage {
    background: linear-gradient(-130deg, #FFEDBC, #7f40a1);
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    left: 0;
}

/*individual charity */
.ind-charity-logo {
    position:relative;
    left:30px;
    padding-top:15px;
}


.ind-charity-header {
    position:fixed;
    top:0px;
    width:100%;
    z-index:1000;
    height:85px;
    background-color:white;
}

.ind-charity-logo img{
    width:180px;
    height:35px;
    margin-top:10px;
}

.ind-donate-button {
    position:absolute;
    top:25px;
    right:30px;
    border-radius:15px;
    padding:5px 20px;
    color:white;
    font-weight:bold;
    background-color:#7f40a1;
}

.banner img {
    width:100%;
}

.text-overlay {
    color:white;
    font-weight:bold;
    position:absolute;
    top:100px;
    width:90%;
    text-align:center;
}

.banner h1{
    font-size:22px;
    margin-top:10px;
    color:#1aba97;
}

.banner h2{
    font-size:16px;
}

#text-block {
    padding:0px 30px;
    padding-bottom:80px;
}

.title1{
    font-size:22px;
    color:#1aba97;
}

.page-title {
    font-size:22px;
    font-weight:bold;
    padding-top:10px;
}

/* SEARCH BAR*/
.searchbar {
    width:calc(100% - 34px);
    display:inline-block;
}

.searchbar-icon {
    width:30px;
    text-align:center;
    font-size:24px;
    display:inline-block;
    padding-top:2px;
}

.cover {
    position:absolute;
    min-height: calc(100vh - 78px);
    background: #7f40a1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-130deg, #FFEDBC, #7f40a1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-130deg, #FFEDBC, #7f40a1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.donation-header {
    padding-top:20px;
    color:white;
    font-size:48px;
    text-align:center;
    font-weight:bold;
    text-transform: lowercase;
    font-family: 'Nunito Sans', sans-serif;

}

.donation-header img{
    width:100px;
}

.donation-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.donation-input input[type="number"] {
    border:none;
    outline:none;
    width:80%;
    text-align:center;
    height:80px;
    border-radius:10px;
    font-size:48p\x;
    background:transparent;
    color:white;
   /* background-color:rgba(255, 255, 255, 0.42);*/
    
    -webkit-box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.42);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 3px 0px rgba(255, 255, 255, 0.42);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 3px 0px rgba(255, 255, 255, 0.42);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    

}


.donation-input input[type="number"]::placeholder {
    color:white;
}
.donation-input button {
    opacity:1;
    border:none;
    font-size:24px;
    margin-top:40px;
    background-color:white;
    padding:5px 30px;
    text-transform: lowercase;
    font-weight:bold;
    border-radius:30px;
     letter-spacing: 2px;
    -webkit-box-shadow:   0px 0px 3px 3px rgba(255, 255, 255, 0.42);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     0px 0px 3px 3px rgba(255, 255, 255, 0.42);  /* Firefox 3.5 - 3.6 */
    box-shadow:        0px 0px 3px 3px rgba(255, 255, 255, 0.42);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    
}

.submit-gradient {
    background:-webkit-linear-gradient(-130deg, #FFEDBC, #7f40a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-gradient {
    background:-webkit-linear-gradient(-130deg, #c2a7d1, #7f40a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size:24px;
}



.favourites-list {
    font-size:16px;
    font-weight:bold;
    text-align:center;
    margin-bottom:30px;
    margin-top:30px;
    
}

.favourites-list input[type="text"] {
    border:none;
    outline:none;
    background:transparent;
    color:white;
    margin-left:5px;
    border-bottom:1px solid rgba(255, 255, 255, 0.42);

}