*{
    margin:0px;
    font-family: 'Source Sans Pro', sans-serif !important;
    box-sizing:border-box;
}
#header img {
    width:80px;
}

#header{
    position:fixed;
    background-color: white;
    border-bottom:1px solid #e6e6e6; 
    width:100%;
    padding:5px;
    height:30px;
    left:0px;
    z-index:100;
}

/* FOOTER*/

#my-footer {
    height:60px;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    display:flex;
    justify-content:center;
    text-align:center !important;
    background-color:white;
}

.my-nav {
    border-right:1px sold black;
    padding:0px;
    font-size:12px;
    margin:10px;
    text-align:center !important;

}

a:hover { 
    background-color:#ffe1d4;
    text-decoration:none!important;
}

/* navigation hover effect and style */ 

.card{
    width:120px !important;
    font-size:10px;
}

.card-body {
    padding:5px !important;
}

.subtitle {
    color:black;
    font-size:12px;
    margin-bottom:10px;
}

/*SEE WHAT YOUR CHARITIES HAVE DONE IWTH YOUR $26 RECENTLY */
.my-container{
    position:relative;
    width:100%;
    padding:10px 30px;
}


.horizontal-scroll{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    
}

.charity-updates {
    margin-right:15px;
    flex:0 0 auto;
}
/* total donated */
.totaldonated {
    background-color:#7fd4ba;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height:200px;
}
.totaldonated-body{
    color:white;
    text-align:center;
}

/*SEE WHAT YOUR CHARITIES HAVE DONE IWTH YOUR $26 RECENTLY */
#dashboard {
    position:relative;
    display:flex;
    background-color:#ebebeb;
    height:200px;
    padding:10px;
}


.rounded-container {
    border-radius:15px;
    background-color:white;
    
}

/* top charities */

.charity-progress-wrap{
    padding:10px;
    display:flex;
    align-items:center;
}

.charity-progress-name{
    width:80px;
    display:inline-block;
    font-size:12px;
}
.charity-progress-summary{
    width:calc(100% - 90px);
    display:inline-block;
}

/*individual charity */
.ind-charity-logo {
    position:relative;
    left:30px;
    padding-top:15px;
}


.ind-charity-header {
    position:fixed;
    top:0px;
    width:100%;
    z-index:1000;
    height:85px;
    background-color:white;
}

.ind-charity-logo img{
    width:180px;
    height:30px;
    margin-top:10px;
}

.ind-donate-button {
    position:absolute;
    top:20px;
    right:30px;
    border-radius:15px;
    padding:5px 20px;
    background-color:pink;
}

.banner img {
    width:100%;
}

.text-overlay {
    color:white;
    font-weight:bold;
    position:absolute;
    top:100px;
    width:90%;
    text-align:center;
}

.banner h1{
    font-size:22px;
    margin-top:10px;
    color:#1aba97;
}

.banner h2{
    font-size:16px;
}

#text-block {
    padding:0px 30px;
    padding-bottom:80px;
}

.title1{
    font-size:22px;
    color:#1aba97;
    
}
