{% extends 'base.html' %}
{% block body %}
<div class="ind-charity-header" class="d-flex">
    <div class="ind-charity-logo">
        <img src="{{url_for('static', filename='fredhollows.png')}}">
    </div>
    <div class="ind-donate-button">
        DONATE
    </div>
</div>

<div class="my-container" style="padding-top:80px;">
    <div class="text-overlay">Help Restore Sight <br>Help keep Fred's Vision Alive</div>
    <div class="banner">
        <img src="{{url_for('static', filename='fredhollows-banner.jpg')}}">
        <p></p>
        <h2> <center> $86,145 of $100,000 Goal Reached </center></h2>
    </div>
    <div id="progress-bar" class="all-rounded">
            <div id="progress-bar-percentage" class="sub3" style="width:80%"">
              <span>80%</span></div>              
        </div>

    
</div>

<div id="text-block">
    <br>
    <div class="title1">Mission</div>
    <div style="border-bottom:1px solid #1aba97; padding-bottom:5px; width:30px;margin-bottom:15px;"></div>
    <p> 
        The Fred Hollows Foundation has a very clear goal: <i>we’re putting an end to
        avoidable blindness</i>.</p> 
    
    <p>
        When this day comes, people in developing countries 
        will get the same quality eye care the rest of the world takes for granted – 
        and we won’t stop until this is done.</p>
       
    <p>  
        Every time we restore someone’s sight, it also brings back their independence, 
        ability to work, or get an education. Ending avoidable blindness through 
        medication, surgery, education, prevention and training is a part of helping 
        people out of poverty, which we see proof of everyday.</p>
    
    <div class="title1">Ending Avoidable Blindness</div>
    <div style="border-bottom:1px solid #1aba97; padding-bottom:5px; width:30px;margin-bottom:15px;"></div>
    <p>
        Aboriginal and Torres Strait Islander people are three times more likely 
        to go blind than other Australians.</p>
    
    <p>
        This is why we are working hard to ensure sustained investment in high-quality, 
        accessible and culturally-appropriate eye care services in remote and underserviced 
        communities around the country. </p> 
    
    <p>
        Twenty-six years since Fred’s passing, we are continuing his commitment to 
        improving the health of Aboriginal and Torres Strait Islander people.</p>
        
    <div class="title1"> Organisation Expenditure</div>
    <div style="border-bottom:1px solid #1aba97; padding-bottom:5px; width:30px;margin-bottom:15px;"></div>
    <center><img src="static/graph2.png" width=80% height=80%></center>
        
</div>

{% endblock %}