{% extends 'base.html' %}
{% block body %}
<div class="ind-charity-header" class="d-flex">
    <div class="ind-charity-logo">
        <img src="{{url_for('static', filename='fredhollows.png')}}">
    </div>
    <div class="ind-donate-button">
        DONATE
    </div>
</div>

<div class="my-container" style="padding-top:80px;">
    <div class="text-overlay">Help Restore Sight <br>Help keep Fred's Vision Alive</div>
    <div class="banner">
        <img src="{{url_for('static', filename='fredhollows-banner.jpg')}}">
        <p></p>
        <h2> <center> $86,145 of $100,000 Goal Reached </center></h2>
    </div>
    <div id="progress-bar" class="all-rounded">
            <div id="progress-bar-percentage" class="sub3" style="width:80%"">
              <span>80%</span></div>              
        </div>

    
</div>

<div id="text-block">
    <div class="title1">Mission</div>
    <div style="border-bottom:1px solid #1aba97; padding-bottom:5px; width:30px;margin-bottom:15px;"></div>
    <p> We aspire for people in developing countries to get the same quality eye care 
        the rest of the world takes for granted – and we won’t stop until this is done.</p>
    
    <div class="title1">Ending Avoidable Blindness</div>
    <div style="border-bottom:1px solid #1aba97; padding-bottom:5px; width:30px;margin-bottom:15px;"></div>
    <p> Aboriginal and Torres Strait Islander people are three times more likely 
        to go blind than other Australian, which is why we are working hard to
        ensure care in remote and underserviced communities.</p>
        
    <div class="title1"> Organisation Expenditure</div>
    <div style="border-bottom:1px solid #1aba97; padding-bottom:5px; width:30px;margin-bottom:15px;"></div>
    <center><img src="static/graph2.png" width=80% height=80%></center>
        
</div>

{% endblock %}