{% extends 'base.html' %}
{% block body %}
<div id="my-container" class="d-flex justify-content-center">
    <h1 class="page-title">Today's Deals</h1>
</div>
<div id="container-fluid" style="padding:20px;">
    <div class="flex-nowrap">
        <input type="text" class="form-control" placeholder="Search. . . " aria-label="search" aria-describedby="addon-wrapping" style="border:none;border-bottom:1px solid cyan">
    </div>
    <div style="position:absolute;top:0px; right:0px;"><i class="fas fa-search"></i></div>
</div>


{% endblock %}