{% extends 'base.html' %}
{% block body %}
<div class="cover">
    <div class="donation-header">
        be a <span style="color:#7f40a1">givr.</span><br>
        <div class="favourites-list">
            Enter a charity: 
            <input type="text" id="donation_value" name="donation_value">
        </div>

        <img src="{{url_for('static', filename='cutegivingicon.svg')}}">
    </div>

    <form method="POST">
        <div class="donation-input">
        <input type="number" id="donation_value" placeholder="$" name="donation_value">
        <button type="submit" name="donate">
            <div class="submit-gradient">
                Give 
            </div>
        </button>
        </div>
    </form>
            
</div>


{% endblock %}
