<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>givr</title>
    <meta name="author" content="____">
    <meta name="description" content="test">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='home.css')}}?v={{build_num}}" rel="stylesheet">
    <link rel="stylesheet" href="static/home.css">
  </head>

  <body style="margin: 0px">
  <center> <img src="static/givr_logo_only.png" width=20% height=20%> </center>
    <div class="cover">
      <div class="modal">
          <h1>givr</h1>
          <p class="sub"><i>inspiring a new generation of givers</i></p>

          <h1 style="font-size:22px; text-align:center"> Your Charities </h1>

          <!--<p class ="sub2"> Fred Hollows Foundation </p>-->

          <p class="actions">
              <a href="/charity_information"><button>Fred Hollows Foundation</button></a>
          </p>

          <div id="progress-bar" class="all-rounded">
              <div id="progress-bar-percentage" class="sub3" style="width:{{ curr_value }}%"">
                <span>{{curr_value}}/100</span></div>              
          </div>

      </div>

      <div class="modal2">
          <h1 style="font-size:22px; text-align:center"> <b> Today's Givrs </b></h1> <br>
            <div class="horizontal-scroll">

                <div class="charity-updates">
                    <div class="card">
                        <center> 
                            <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple123/v4/79/90/d7/7990d716-f705-ded2-610b-f9f8761fc690/AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/246x0w.jpg" 
                             width=160px height=150px> 
                            <img src="https://yt3.ggpht.com/a/AGF-l79TsA9CFVZLVMv8NpPhSYCgX7VwiA3Hm_fGoQ=s900-c-k-c0xffffffff-no-rj-mo?fbclid=IwAR30-rHeeevnMbnJRZq8riT6tA3IYPJEmDeWl_loUPCeLmwwDZOvH1BBTvk"
                             width=170px height=150px>
                        </center>
                        <div class="card-body"> <center> 
                          <h1> 2X </h1> 
                          <div class="sub"> DONATION MATCH </div>
                          </center>
                        </div><br> <center>
                        <div class="sub2"> DONATE NOW </div> </center>
                    </div>
                </div>

                <div class="charity-updates">
                    <div class="card">
                        <center> 
                            <img src="https://media.licdn.com/dms/image/C560BAQGJHYXy9e1rEg/company-logo_200_200/0?e=2159024400&v=beta&t=2cKY680FdJOpOvLbpZdvqrqUJUTb4qaNEVw_zrSaHhg" 
                             width=170px height=150px> 
                            <img src="http://static.oxfamamerica.org.s3.amazonaws.com/images/logos/oxfam_logo_vertical_green_rgb.png"
                             width=170px height=150px>
                        </center>
                        <div class="card-body"> <center> 
                            <h1 style="color:transparent"> 2X </h1> 
                          <div class="sub"> COLLABORATION </div>
                          </center>
                        </div><br> <center>
                        <div class="sub2"> DONATE NOW </div> </center>
                    </div>
                </div>

                <div class="charity-updates">
                    <div class="card">
                        <center> 
                            <img src="https://i0.wp.com/ausdroid.net/wp-content/uploads/2015/03/CommBank-300x297.png?resize=300%2C297" 
                             width=170px height=150px> 
                            <img src="https://upload.wikimedia.org/wikipedia/en/3/3b/Ronald_McDonald_House_Charities_Logo.jpg"
                             width=170px height=150px>
                        </center>
                        <div class="card-body"> <center> 
                          <h1> 1X </h1> 
                          <div class="sub"> DONATION MATCH </div>
                          </center>
                        </div><br> <center>
                        <div class="sub2"> DONATE NOW </div> </center>
                    </div>
                </div>    

            </div>

      </div>
      <!-- FOOTER -->
      <div class="footer-wrap">
        <div id="my-footer">
            <a href="{{ url_for('index') }}">
                <div class="my-nav hvr-grow">
                    <i class="fas fa-home my-gradient"></i>
                    <p>Home</p>
                </div>
            </a>
                
            <a href="#">
                    <div class="my-nav hvr-grow">
                        <i class="fas fa-hand-holding-heart my-gradient"></i>
                        <p>Charities</p>
                    </div>
            </a>
                
            <a href="{{ url_for('donation') }}">
                    <div class="my-nav hvr-grow">
                        <i class="fas fa-donate my-gradient"></i>
                        <p>Donate</p>
                    </div>
            </a>
        
            <a href="#">
                    <div class="my-nav hvr-grow">
                        <i class="fas fa-award my-gradient"></i>
                        <p>Givers</p>
                    </div>
            </a>
            <a href="#">
                    <div class="my-nav hvr-grow">
                        <i class="far fa-user my-gradient"></i>
                        <p>Account</p>
                    </div>
            </a>
                
        </div>
    </div>

  </body>
</html>
